<!DOCTYPE html>
<head>
  <title>If I had a Nickel for every Programming Language I've Learned</title>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"  />
</head>

<body onmousedown="onMouseDown(event)" onmouseup="onMouseUp(event)" onmousedown="onMouseDown(event)" onmousemove="onMouseMove(event)" onmouseout="onMouseOut(event)" onmouseenter ="onMouseEnter(event)">
  

  <div id="intro">
    <h1>Hi, I go by Bill!</h1>
    <p>Heres a little bit about me - some things I've learned to enjoy,
       and some things I enjoy learning.</p>
    <ul id="tech-stack">
      <li>1. Python</li>
      <li>2. SQL</li>
      <li>3. Java</li>
      <li>4. HTML</li>
      <li>5. CSS</li>
      <li>6. JavaScript</li>
      <li>7. C++</li>
      <li>8. R</li>
      <li>9. MATLAB</li>
      <li>10. LaTeX</li>
    </ul>
  </div>
  <div id="gallery">
    <div id="GPT3">
      <h3>OpenAI's chatGPT</h3>
      <form action="/" method="post">
        <input type="text" name="query" placeholder="Enter Anything" autocomplete="off" required />
        <input type="text" name="query_test" placeholder="Enter Anything" autocomplete="off" required />
        <input type="submit" value="Generate output!" />
      </form>
      
      {% if result %}
        <div class="result">
          {{ result }}
        </div>
      {% endif %}
    
    </div>
    <img class="image" src="static/sta160.png" draggable="false" unselectable="on" />
    <img class="image" src="static/Bill-Lan-GCA.png" draggable="false" unselectable="on" />
    <img class="image" src="static/CodeSignal-s3.png" draggable="false" unselectable="on" />
    <img class="image" src="static/perservere.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-Python-Certification.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-SQL-Certification-3.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-SQL-Certification-2.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-SQL-Certification.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-Java-Certification.png" draggable="false" unselectable="on" />
    <img class="image" src="static/HackerRank-Problem-Solving-Certification.png" draggable="false" unselectable="on" />   
    </div>

      <div id="div-box">
        {% if result_test %}
          <div id="result_test">
            <div>||_||_||_||_||_||_||_||</div>
            <div>||_||_||_||_||_||_||_||</div>
            <div>||_||_||_||_||_||_||_||</div>
            <div>||_||_||_||_||_||_||_||</div>
            <div>||_||_||_||_||_||_||_||</div>
            <div>||_||_||_||_||_||_||_||</div>
            <div>-----------------------</div>
            <div>||0||1||2||3||4||5||6||</div>
          </div>
        {% endif %}
        <button type="button" onclick="refreshTest(event)">refreshTest()"</button>
      </div>

    <script>
      


      function refreshTest(e) {
        var java = require('java');
        var javaLangSystem = java.import('java.lang.System');

        var game = java.import('games.ConnectFour');
        
        /*var newInnerHTML = "<div>||_||_||_||_||_||_||_||</div>\n"+"<div>||_||_||_||_||_||_||_||</div>\n"+"<div>||_||_||_||_||_||_||_||</div>\n"+"<div>||_||_||_||_||_||_||_||</div>\n"+"<div>||_||_||0||_||_||_||_||</div>\n"+"<div>||x||0||x||_||_||_||_||</div>\n"+"<div>-----------------------</div>\n"+"<div>||0||1||2||3||4||5||6||</div>";*/
        var newInnerHTML = game.getBoard();
        alert("This is it?");
        alert(newInnerHTML);
        game.makeValidMove(true, "X");
        resultTest.innerHTML = newInnerHTML;
        
        var resultTest = document.getElementById("result_test");
        
      }


      function onMouseUp(e) {
        var gallery = document.getElementById("gallery");
        gallery.mousedown = 'false';
        posdiff = 100 * (e.clientX - gallery.startClick) / window.innerWidth;
        
        gallery.oldpos = posdiff + gallery.oldpos;
        gallery.animate(
            {transform: 'translate(-' + Math.min(100, Math.max(0, gallery.oldpos)) +'%, -44%)'}, 
            {duration: 800, fill: 'forwards'}
          );
      }
      
      function onMouseDown(e) {
        var gallery = document.getElementById("gallery");
        if (isNaN(gallery.oldpos)) {
          gallery.oldpos = 0;
        }
        gallery.startClick = e.clientX;
        gallery.mousedown = 'true';
      }
        
      function onMouseMove(e) {
        const gallery = document.getElementById("gallery");
        const dwindowratio = (e.clientX - gallery.startClick) / window.innerWidth;
        const newratio = 130 * dwindowratio;
        const newpos = newratio + gallery.oldpos;
        if (gallery.mousedown == "true") {
          gallery.animate(
            {transform: 'translate(-' + Math.min(100, Math.max(0, newpos)) +'%, -50%)'}, 
            {duration: 1200, fill: 'forwards'}
          );
  
          const np = Math.min(100, Math.max(0, (100-(1.5*newpos.toFixed(0)))));
          const images = gallery.getElementsByClassName("image");
          for (let i = 0; i < images.length; i++) {
            images[i].animate(
              {objectPosition: np + '% 50%'},
              {duration: 1200, fill: 'forwards'}
            );
          }
        }
      }
      
      function onMouseEnter(e) {
        /*var element = document.getElementById("test-display");
        element.innerHTML = "<div>Mouse Inside | Inside another div</div>";*/
      }
      
      function onMouseOut(e) {
        /*var element = document.getElementById("test-display");
        element.innerHTML = "Mouse Outside";*/
      }
      
      function addDiv(e) {
        var element = document.getElementById("div-box");
        element.innerHTML = element.innerHTML;
      }
    </script>


</body>
